$blue: #3e2280;
$white:white;
$black:black;
$lightblack:rgba(0, 0, 0, 0.212);


*{
    margin: 0px;
    padding: 0px;
}
.div1{
    background-color:$white;
    color: $black;
     height: 800px;
     width:230px;
     border-top:1px solid $lightblack ;

}
a{
text-decoration: none;
margin-left: 5px;

}
.span1{
    color: $blue;
    margin-left:10px;
    margin-top: 2px;
}
.icon1{
    color:$blue;
}