.card1{

    height: 800px;
    // background-color: red;
    margin-top: 8px;
    margin-left:10px;
}

.card2{

    height: 500px;
    background-color: black;
    color: white;
    // height: 400px;
    width: 900px;
   
}
.table{
    
    color: white;

}
