<div>
    <h2 class="heading">Dashboard - Listing</h2>
</div>
<div class="card1A ">
    <mat-card class="div2">
        <mat-card-content>
            <h4>LISTED PROPERTY</h4>
            <div class="div2A">26,873 <span class="span1">0.3%</span></div>
            <mat-progress-bar mode="determinate" value="40" class="progress_bar" color="primary"></mat-progress-bar>
        </mat-card-content>
    </mat-card>


    <mat-card class="div2">
        <mat-card-content>
            <h4>LISTED PROPERTY</h4>
            <div class="div2A">6,873 <span class="span2">0.3%</span></div>
            <mat-progress-bar mode="determinate" value="20" class="progress_bar2" color="warn"></mat-progress-bar>
        </mat-card-content>
    </mat-card>


    <mat-card class="div2 ">
        <h4>LISTED PROPERTY</h4>
        <div class="div2A">76,873 <span class="span3">0.3%</span></div>
        <mat-progress-bar mode="determinate" value="60" class="progress_bar3" color="primary"></mat-progress-bar>
    </mat-card>

    <mat-card class="div2">
        <mat-card-content>
            <h4>LISTED PROPERTY</h4>
            <div class="div2A">6,873 <span class="span4">0.3%</span></div>
            <mat-progress-bar mode="determinate" value="20" class="progress_bar2" color="warn"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

</div>

<div class="card2">
    <mat-card class="card2A A">
        <mat-card-content>
            <h2>Your Current Plan</h2>
            <div class="mainrow">
                <div class="row1">
                    <h2 ><span style="font-size:40px;">$19</span>/month</h2>
                    <div>
                        <ul style="list-style-type: square;">
                            <li>Max listing items 2K</li>
                            <li>Max-agents- 10</li>
                        </ul>
                    </div>

                </div>
                <div class="row2">
                    <h3>Expires in 80 days</h3>
                    <div><button mat-raised-button color="accent">RENEW PLAN</button></div>
                    <h3>Onther Plans</h3>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="card2A">
        <mat-card-content>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="card2A">
        <mat-card-content>
            <div class="home1">
                <div> <span><img src="../../assets/home-logo.jpg"> </span></div>

                <div class="home2">
                    <span class="sp1">Modern Home</span>
                    <div class="sp2">Biloxy,Boston</div>
                </div>
            </div>
            <div class="home3">
                Structure sales Pvt. Ltd is boston's reputed government construction company since 2011
            </div>
            <div class="link">
                <a href="#">Read More</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="scrollcontainer">
<div class="scrollmenu">
    <app-scroll-card></app-scroll-card>
   
</div>
<div class="scroll1">
    <app-recentactivity></app-recentactivity>
</div>
</div>


<div class="tab">
    <app-tab></app-tab>
</div>
