mat-drawer-container{
    height: 800px;
}
mat-drawer{
    width:250px;
    height: 800px;
    background-color:rgba(0, 0, 0, 0.87);
    color: white;
    margin-top: 10px;
    margin-left: 5px;
}
.container1{
    margin-top: 10px;
}