.box{
    width: 700px;
    margin-top:1rem ;
    margin-bottom: 0.5rem;
    height: 13rem;
    margin-left: 12px;


}

.coursel1{
    height: 100px;
    
}

.img1{
    height: 350px;
    width: 45%;
    margin: 20px;

   
}
.div1{
    
    width: 40%;
  
}