<mat-card class="card1">

    <div class="card1A ">

    <mat-card class="div2">
        <mat-card-content>
            <h4>LISTED PROPERTY</h4>
            <div class="div2A">26,873  <span class="span1">0.3%</span></div>
                <mat-progress-bar mode="determinate" value="40" class="progress_bar"></mat-progress-bar>
        </mat-card-content>
    </mat-card>


    <mat-card class="div2">
        <mat-card-content>
            <h4>LISTED PROPERTY</h4>
            <div class="div2A">6,873  <span class="span2">0.3%</span></div>
                <mat-progress-bar mode="determinate" value="20" class="progress_bar "></mat-progress-bar>
        </mat-card-content>
    </mat-card>


    <mat-card class="div2 ">
        <h4>LISTED PROPERTY</h4>
            <div class="div2A">76,873  <span class="span3">0.3%</span></div>
                <mat-progress-bar mode="determinate" value="60" class="progress_bar3"></mat-progress-bar>
    </mat-card>

    <!-- <mat-card class="div2">
        <mat-card-content>card4</mat-card-content>
    </mat-card> -->
</div>

<div class="card1B">
    <mat-card class="div3">
        <mat-card-content>
           <h3>YOUR CURRENT PLAN</h3>
           <div class="div3A">$19/<span class="month">month</span></div><br>
           <h2>Expires in 80 days</h2>
           <button mat-raised-button color="warn" class="btn1">Renew Plan</button><br><br>
           <a href="#">Read more...</a>
        </mat-card-content>
    </mat-card>
    <mat-card class="div3" >
        <mat-card-content >
            <h3>YOUR CURRENT PLAN</h3>
           <div class="div3A">R$ 110 /<span class="month">month</span></div><br>
           <h2>Expires in 80 days</h2>
           <button mat-raised-button color="warn" class="btn1" style="background-color:rgb(0, 255, 55);">Renew Plan</button><br><br>
           <a href="#">Read more...</a>
        </mat-card-content>
    </mat-card>
    <mat-card class="div3">
        <mat-card-content>
            <h3>YOUR CURRENT PLAN</h3>
           <div class="div3A">20% /<span class="month" style="color: green;">month</span></div><br>
           <h2>Expires in 80 days</h2>
           <button mat-raised-button color="primary" class="btn1" >Renew Plan</button><br><br>
           <a href="#">Read more...</a>
        </mat-card-content>
    </mat-card>
    <mat-card class="div3 ">
        <mat-card-content>
            <h3>YOUR CURRENT PLAN</h3>
           <div class="div3A">$19/<span class="month">month</span></div><br>
           <h2>Expires in 80 days</h2>
           <button mat-raised-button color="warn" class="btn1">Renew Plan</button><br><br>
           <a href="#">Read more...</a>
        </mat-card-content>
    </mat-card>
</div>

</mat-card>

<!-- <mat-card class="card2">
    <mat-card-content>card4</mat-card-content>
</mat-card> -->