
        
<mat-nav-list>

    <div class="logo p-4">
        <img src="../../assets/crossasyst-Logo-White.png" >
    </div> 

    <mat-divider></mat-divider>
    
<h5 matSubheader class="mt-2" style="margin-left:22px; color: white;">Application</h5>

    <a mat-list-item routerLink="/dashboard" routerLinkActivate="list-item-active">
        <mat-icon >dashboard</mat-icon>Dashboard</a>
        
    <a mat-list-item routerLink="/widget" routerLinkActivate="list-item-active">
        <mat-icon>widgets</mat-icon>Widgets</a>

    <a mat-list-item routerLink="/chats" routerLinkActivate="list-item-active">
        <mat-icon> bar_chart</mat-icon>Charts</a>

        <a mat-list-item routerLink="/tables" routerLinkActivate="list-item-active">
            <mat-icon>table</mat-icon>Tables</a>

            <a mat-list-item routerLink="/contact" routerLinkActivate="list-item-active">
                <mat-icon>phone</mat-icon>Contacts</a>

                <a mat-list-item routerLink="/forms" routerLinkActivate="list-item-active">
                    <mat-icon>forum</mat-icon>Maps</a>
</mat-nav-list>

